html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 10px 20px;
    background-color: black;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path stroke="rgba(255,255,255,1)" stroke-width="3" d="M5 7h20M5 15h20M5 23h20" fill="none" stroke-linecap="round"/></svg>');
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: white;
    font-size: 16px;
}

.nav-link:hover {
    color: #f0f0f0;
}

.form-inline {
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 20px;
}

.btn-outline-success {
    border-radius: 20px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .contact-form, .contact-info {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
  }
  
  .contact-form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
footer {
    display: flex;
    background-color: #f9f9f9;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle {
    font-size: 16px;
}

.fList {
    padding: 0;
    list-style: none;
}

.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput {
    padding: 5px;
}

.fButton {
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons {
    display: flex;
}

.fIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright {
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-item {
        margin: 5px 0;
    }

    .form-inline {
        margin-top: 10px;
    }

    .contact-us {
        flex-direction: column;
        padding: 20px 0;
    }

    .contact-info,
    .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-title {
        font-size: 28px;
    }

    .contact-form {
        padding: 20px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footerLeft {
        padding: 20px;
        width: 90%;
    }

    .footerRight {
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }
}
